body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
	margin:10px; padding: 0px; border: 0%;
}

body {
	background:  #011b3b;
	font: 16px Helvetica, Arial, Sans-Serif; color: #636363; line-height: 24px;
}
@media screen and (min-width:576px){
    #container{
        display: flex;
        flex-direction: column;
    }
}
        #nav{
            float: left;
            list-style: none;
            margin:0px;
        }
        #nav li{
            display: inline-block;
        }
        #nav li a{
            color: white;
            text-decoration:none;
            padding: 5px 20px;
            border:1px solid white;
            font-family:"Roboto",sans-serif;
            font-size: 15px;  
        }
        #nav li.active a{
            border:5px solid white;
        }
        #nav li a:hover{
            border: 5px solid white;
        }
img{
    width:250px;
    height:250px;
    border-radius: 50%;
    margin-left:370px;
}
img{
    border:2px solid #4bb7e6;
}
 #container {
    width: 920px;
    height: 350px;
    margin:100px;
} 
#header{
    color:  #b8b6b2;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    margin-left: 100px;
}
#content{
    background:grey;
    color: black;
    display: flex;
    flex-flow: row wrap;
    justify-content: none;
    justify-content: center;
    align-items:flex-start;
    align-content: space-between;
    margin: 100px;  
}
#me{
    background-color: #011b3b;
    color: gray;
    height: 450px;
    flex-basis: 30%;
    margin-top: 20px;
}
#afr{
    background-color:#011b3b;
    color:gray;
    height: 450px; 
    flex-basis: 30%;
    margin-top: 20px;
}

#work{
    background-color:#011b3b;
    color: gray;
    height: 450px;
    flex-basis: 30%;
    margin-top: 20px; 
}
#footer {
    background: url(../image/hero.jpg) no-repeat; padding: 40px 0 0 0;
    overflow: hidden; margin: 15 0 30px 0;
}
    #footer p#copyright {
        font-size: 12px; float: left; margin: 0 0 0 30px; color: #b8b6b2;
    }
    #footer p#back-top {
        font-size: 12px; float: right; margin: 0 30px 0 0;
    }
        #footer a {
        color: #a12121; text-decoration: none;
    }
        #footer a:hover {
            color: #671111;


 


		
            
   